.header {
	background: url(../img/pages/header.jpg) no-repeat center;
	background-size: cover;
}

.paddingTopBot15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.user-icons
{
margin-top: 15px;
margin-bottom: 15px;
}

.grid
{
margin-top: 20px;
margin-bottom: 20px;
background-color: #E6E6E6;
border: inset 1px #A0A0A0;
}

.grid .product {
padding: 20px 30px;
}

.thumbnail
{
height: 100%;
width: 100%;
}

.big-icon
{
font-size: 150px;
}
.red
{
color: red;
}

.footer {
	padding: 30px 10px;
	background-color: rgba(0,0,0,0.01);
}

.s-10 {
	padding: 10px 0;
}

.s-20 {
	padding: 20px 0;
}

.s-30 {
	padding: 30px 0;
}


.hover-fold .top .imgtopleft{
	background: url(../img/pages/tacos1.jpg) top;
}

.hover-fold .bottom .imgtopleft{
	background: url(../img/pages/tacos2.jpg) top;
}

.hover-fold .top .imgtopcenter{
	background: url(../img/pages/tortillas1.jpg) top;
}

.hover-fold .bottom .imgtopcenter{
	background: url(../img/pages/tortillas2.jpg) top;
}

.hover-fold .top .imgtopright{
	background: url(../img/pages/quesadilla1.jpg) top;
}

.hover-fold .bottom .imgtopright{
	background: url(../img/pages/quesadilla2.jpg) top;
}

.hover-fold .top .imgtopleft{
	background: url(../img/pages/enchiladas1.jpg) top;
}

.hover-fold .bottom .imgtopleft{
	background: url(../img/pages/enchiladas2.jpg) top;
}

.hover-fold .top .imgtopcenter{
	background: url(../img/pages/burritos1.jpg) top;
}

.hover-fold .bottom .imgtopcenter{
	background: url(../img/pages/burritos2.jpg) top;
}

.hover-fold .top .imgtopright{
	background: url(../img/pages/chimichangas1.jpg) top;
}

.hover-fold .bottom .imgtopright{
	background: url(../img/pages/chimichangas2.jpg) top;
}