.glyphicon
{
	font-size: 25px;
}

.user-icons
{
	margin-top: 15px;
	margin-bottom: 15px;
}

footer
{
	padding: 20px 15px;
	background-color: rgba(0,0,0,0.03);
	color: #000;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.07);
}

.sidebar 
{
	background-color: rgba(0,0,0,0.03);
	border: 1px solid rgba(0,0,0,0.05);
	margin-bottom: 15px;
}

.sidebar ul
{
	list-style-type: none;
	font-size: 18px;
}

.sidebar ul li
{
	padding: 10px 4px;
	margin-left: -8px;
}

.sidebar ul a
{
	color: gray;
	text-decoration: none;
}

.content
{
	font-size: 16px;	
}

.grid
{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(0,0,0,0.03);
	border: inset 1px rgba(0,0,0,0.05);
}

.grid .product {
	padding: 20px 30px;
}

.thumbnail
{
	height: 100%;
	width: 100%;
}

.btn-login
{
	background-color: rgba(0,0,0,0.05);
	color: black;
}

.big-icon
{
	font-size: 150px;
}

.red 
{
	color: red;
}